@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
